<div class="sites">
  <div class="row">
    <div class="large-4 columns">
      <div class="panel" id="fmylife"></div>
    </div>
    <div class="large-4 columns">
      <div class="panel" id="viedemerde"></div>
    </div>
    <div class="large-4 columns">
      <div class="panel" id="tfln"></div>
    </div>
  </div>
  <div class="row">
    <div class="large-4 columns">
      <div class="panel" id="mlia"></div>
    </div>
    <div class="large-4 columns">
      <div class="panel" id="dtc"></div>
    </div>
    <div class="large-4 columns">
      <div class="panel" id="pebkac"></div>
    </div>
  </div>
</div>

