<div class="sites">
  <div class="row">
    <div class="padded-column large-4 columns">
      <div class="panel" id="fmylife"></div>
    </div>
    <div class="padded-column large-4 columns">
      <div class="panel" id="viedemerde"></div>
    </div>
    <div class="padded-column large-4 columns">
      <div class="panel" id="tfln"></div>
    </div>
  </div>
  <div class="row">
    <div class="padded-column large-4 columns">
      <div class="panel" id="mlia"></div>
    </div>
    <div class="padded-column large-4 columns">
      <div class="panel" id="dtc"></div>
    </div>
    <div class="padded-column large-4 columns">
      <div class="panel" id="pebkac"></div>
    </div>
  </div>
</div>
<div class="about" id="about">
  <div class="row">
    <div class="large-12 columns">
      <h1>About this site</h1>
      <p> Aggregator is an RSS feed aggregator for several "quote" sites such as
    fmylife, Texts from last night, my life is average,...</p>

      <p>Its main purpose is to provide a single entry point to access the latest content
      of these sites.</p>
    </div>
  </div>
</div>
<div class="contact" id="contact">
  <div class="row">
    <div class="large-12 columns">
      <h1>Contact</h1>
      <p>
        Suggestions ? Comments ? Want to add a new site ?
      </p>
      <p>
      Please feel free to contact us at
        agregator@norseman.li
      </p>
    </div>
  </div>
</div>