<div class="hero-unit">
  <h1>&#9786;!</h1>
  <p>This is a template for a simple marketing or informational website. 
    It includes a large callout called the hero unit and three supporting pieces of content. 
    Use it as a starting point to create something more unique.</p>
  <p><a class="btn btn-primary btn-large" href="#about">Learn more »</a></p>
</div>
<div class="row">
  <div class="span4 site-box loader" id="fmylife"></div>
  <div class="span4 site-box loader" id="viedemerde"></div>
  <div class="span4 site-box loader" id="tfln"></div>
</div>
<div class="row">
  <div class="span4 site-box loader" id="mlia"></div>
  <div class="span4 site-box loader" id="dtc"></div>
  <div class="span4 site-box loader" id="pebkac"></div>
</div>
