      <div class="hero-unit">
        <h1>&#9786;!</h1>
        <p>This is a template for a simple marketing or informational website. 
	  It includes a large callout called the hero unit and three supporting pieces of content. 
	  Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-large">Learn more »</a></p>
      </div>
      <div class="row">
        <div class="span4 site-box">
          <h2>Fuck my life</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
<hr>
 <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
 <hr>
 <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-large btn-success" href="#">View more &raquo;</a></p>
        </div>
        <div class="span4 site-box">
          <h2>Texts from last night</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
	   <hr>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	  <hr>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-large btn-success" href="#">View more &raquo;</a></p>
       </div>
        <div class="span4 site-box">
          <h2>My life is average</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	  <hr>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
	  <hr>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-large btn-success" href="#">View more &raquo;</a></p>
        </div>
      </div>
      <!--
      <div class="row">
        <div class="span4 site-box">
	  <h2>Damn you auto correct</h2>


	  <![CDATA[<p align="center"><a href="http://damnyouautocorrect.com/wp-content/uploads/disinfected.jpg"><img style="background-image: none; border-bottom: 0px; border-left: 0px; margin: 0px 0px 20px; padding-left: 0px; padding-right: 0px; display: inline; border-top: 0px; border-right: 0px; padding-top: 0px" title="disinfected" border="0" alt="disinfected" src="http://damnyouautocorrect.com/wp-content/uploads/disinfected_thumb.jpg" width="320" height="533" /></a></p>
<p>Submitted by Meredith</p>
          <p><a class="btn btn-large btn-success" href="#">View more &raquo;</a></p>
	</div>
	-->
      <footer>
        <p>&copy; Aggregator 2010-2012</p>
      </footer>
